<div id="<%= dom_id developer %>">
  <p>
    <strong>Name:</strong>
    <%= developer.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= developer.surname %>
  </p>

  <p>
    <strong>Project:</strong>
   <%= developer.project.name %>

  </p>

</div>
