<h1>Editing developer</h1>

<%= render "form", developer: @developer %>

<br>

<div>
  <%= link_to "Show this developer", @developer %> |
  <%= link_to "Back to developers", developers_path %>
</div>
