<h1>Editing cuenta banco</h1>

<%= render "form", cuenta_banco: @cuenta_banco %>

<br>

<div>
  <%= link_to "Show this cuenta banco", @cuenta_banco %> |
  <%= link_to "Back to cuenta bancos", cuenta_bancos_path %>
</div>
