<div id="<%= dom_id perro %>">
  <p>
    <strong>Name:</strong>
    <%= perro.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= perro.team %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= perro.info %>
  </p>

</div>
