<h1>Editing cuenta banca</h1>

<%= render "form", cuenta_banca: @cuenta_banca %>

<br>

<div>
  <%= link_to "Show this cuenta banca", @cuenta_banca %> |
  <%= link_to "Back to cuenta bancas", cuenta_bancas_path %>
</div>
