<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= project.team %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= project.info %>
  </p>

</div>
