<h1>Editing wallet cripto</h1>

<%= render "form", wallet_cripto: @wallet_cripto %>

<br>

<div>
  <%= link_to "Show this wallet cripto", @wallet_cripto %> |
  <%= link_to "Back to wallet criptos", wallet_criptos_path %>
</div>
