<h1>New wallet cripto</h1>


<%# Cogemos valores por parametro %>
<% @nombre = params[:nombre]%>
<% @valor = params[:valor] %>

<%= render "form", wallet_cripto: @wallet_cripto %>

<br>

<div>
  <%= link_to "Back to wallet criptos", wallet_criptos_path %>
</div>
