<div id="<%= dom_id usuario %>">
  <p>
    <strong>Name:</strong>
    <%= usuario.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= usuario.team %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= usuario.info %>
  </p>

</div>
